/*	http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/



/****************\
*	  COMMON 	 *
\****************/

:root {
	--gold-color: #B1663C;
	--gold-2-color: #93532F;
	--green-color: #1D6154;
	--green-2-color: #0E2F28;
	--bg-color: #FFFEF8;
}

body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: var(--bg-color);
}

header {
	display: flex;
	justify-content: space-between;
	margin: 4rem 0
}

section {
	margin: 150px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--gold-color);
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--green-color);
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: var(--gold-color);
}



/****************\
*	EDIT MODE	 *
\****************/


.edit-banner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1rem 0;
	background-color: #000;
	color: white;
	text-align: center;
}

.edit-btn {
	padding-inline: 1rem;
	font-size: 1rem;
	color: black;
	text-decoration: none;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.modal-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #333333d3;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	max-height: 80vh;

	padding: 2rem 4rem;
	background: #FFF;
	border-radius: 5px;
	transform: translate(-50%, -50%);

	/* align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2em; */
}

.back-modal img {
	height: 0.8em;
	width: 0.8em;
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: pointer;
	color: #000;
}

.close-modal img {
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: #000;
}

.modal h4 {
	font-size: 1.8em;
	line-height: 2em;
	margin-block: 0.5em;
	text-align: center;
}

.modal .gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	overflow-y: auto;
}

.modal .gallery figure {
	position: relative;
	width: 80px;
}


.modal .gallery .fa-trash {
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px;
	margin: 5px;
	color: #fff;
	background-color: #000;
	border-radius: 5px;
}

.modal .gallery img {
	max-width: 100%;
}

.modal .line {
	border-top: 1px solid #bbb;
	width: 100%;
	margin-block: 1em;
}

.modal .button {
	display: inline-block;
	border: none;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--green-color);
	text-align: center;
	padding: 1em 2em;
}

.modal .button:hover {
	cursor: pointer;
	background-color: var(--green-2-color);
}

.modal form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1em;
}

.modal .uploadbox {
	background-color: #E8F1F6;
	padding: 1em;
	border-radius: 5px;
}

.modal .uploadbox>* {
	display: block;
	margin: auto;
	text-align: center;
	margin-block: 1em;
}

.modal input[type=file] {
	display: none;
}

.modal .file-upload {
	width: fit-content;
	border: none;
	border-radius: 50px;
	background-color: #CBD6DC;
	font-size: large;
	color: #306685;
	padding: 6px 12px;
	cursor: pointer;
}

.mmodal .upload-info {
	font-size: 10px;
	color: #444444;
}

.modal label {
	font-size: 1.2em;
}

.modal input[type=text] {
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 50px;
	font-size: 1.2em;
	padding-left: 1em;
}

.modal select {
	border: none;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 50px;
	font-size: 1.2em;
	padding-left: 1em;
}


/****************\
*	  INTRO 	 *
\****************/

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filters {
	margin-bottom: 2rem;
}

.filters ul {
	justify-content: center;
	display: flex;
	gap: .5em;
}

.filters .filter-item {
	font-family: 'Syne';
	font-weight: bold;
	color: white;
	border: 1px solid var(--green-color);
	color: var(--green-color);
	text-align: center;
	border-radius: 1em;
	padding: .5em 1em;
	cursor: pointer;
}

.filters .filter-item.active {
	background-color: var(--green-color);
	color: var(--bg-color);
}

.filters .filter-item:hover {
	background-color: var(--green-2-color);
	color: var(--bg-color);
}

/****************\
*	  GALLERY	 *
\****************/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}



/****************\
*	  CONTACT	 *
\****************/

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--green-color);
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

input[type="submit"]:hover {
	background-color: var(--green-2-color);
}


/****************\
*	   LogIn	 *
\****************/


#login {
	width: 50%;
	margin: 150px auto;
}

#login>* {
	text-align: center;
}

#login h2 {
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login a {
	text-align: center;
	color: unset;
}

#error-msg {
	color: #d24444;
	text-align: center;
	padding-bottom: 1rem;
}



/****************\
*	  FOOTER	 *
\****************/

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}